*{
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
}

html{
    background-color: #c1d4f4;
    font-size: 16px;
}

body{
    width: 640px;
    margin: auto;
}

h1, h2{
    font-size: 38px;
    color: #35387d;
}

img{
    width: 200px;
    border-radius: 100px;
}

p{
    font-size: 1.2rem;
    color: #4b5390;
}

hr{
    background: #a8afd6;
    height: 1px;
    border: 0;
}

span{
    color: #a8afd6;
}

mark{
    background-color: #a8afd6;
}

em, strong{
    color: #a8afd6;
}