.chat-screen__texts{
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    height: calc(100% - 80px);
    overflow: auto;
    
}
.chat-screen__texts > .text-l{
    background-color: #ffffff;
    width: 280px;
    height: 50px;
    margin: 10px 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;

}
.chat-screen__texts > .text-l::after{
    content: "";
    border-right: 16px solid #ffffff;
    border-bottom: 16px solid transparent;
    border-radius: 3px;
    position: absolute;
    left: -10px;
}

.chat-screen__texts > .text-l:hover{
    background-color: #f8cbad;
    transition: background-color 1500ms 200ms ease-in;
}

.chat-screen__texts > .text-l:hover::after{
    border-right: 16px solid #f8cbad;
    transition: border-right 1500ms 200ms ease-in;
}


.chat-screen__texts > .text-r{
    background-color: #ffffff;
    width: 280px;
    height: 50px;
    margin: 10px 0 10px 0;
    margin-left: auto;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    right: 20px;
    text-align: right;
}
.chat-screen__texts > .text-r::after{
    content: "";
    border-left: 16px solid #ffffff;
    border-bottom: 16px solid transparent;
    border-radius: 3px;
    position: absolute;
    right: -10px;
    top: 28px;
}

.chat-screen__texts > .text-r:hover{
    background-color: #f8cbad;
    transition: background-color 1500ms 200ms ease-in;
}

.chat-screen__texts > .text-r:hover::after{
    border-left: 16px solid #f8cbad;
    transition: border-left 1500ms 200ms ease-in;
}
